.comprar_vender {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comprar_vender__link {
    width: 90%;
}

.botao {
    padding: 1rem;
    width: 260px;
    margin: 1.5rem 0;
    display: block;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    background-color: #142a44;
    color: #FFF;
    transition: all 0.2s;
    overflow: hidden;
}

.botao:hover {
    background-color: rgb(30, 62, 102);
    transform: scale(1.05);
}

@media screen and (min-width: 720px) {
    .comprar_vender {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly
    }

    .botao {
        margin: 3rem 0rem;
    }
}